extends templates/layout

block content
  .container.marketing
    #conduct.row.featurette
      .col-xs-2
        if session.group._state.steps.conduct
          button.btn.btn-success(style="margin-top: 50%;")
            i.fa.fa-4x.fa-check
        else
          button.btn.btn-danger(style="margin-top: 50%;")
            i.fa.fa-4x.fa-remove
      .col-xs-10
        h2.featurette-heading Code of Conduct
        p Please agree to the code of conduct.
        a.btn.btn-block.btn-primary(href="/conduct")
          i.fa.fa-newspaper-o
          |  View Code of Conduct
    hr.featurette-divider

    #details.row.featurette
      .col-xs-2
        if session.group._state.steps.details
          button.btn.btn-success(style="margin-top: 50%;")
            i.fa.fa-4x.fa-check
        else
          button.btn.btn-danger(style="margin-top: 50%;")
            i.fa.fa-4x.fa-remove
      .col-xs-10
        h2.featurette-heading Group Details
        p Update your group details if needed. If some members of your group are Youth in Care, visit here to adjust the number of tickets you'll recieve for the Youth In Care Feast.
        a.btn.btn-block.btn-primary(href="/details")
          i.fa.fa-edit
          | Edit Details
    hr.featurette-divider

    #members.row.featurette
      .col-xs-2
        if session.group._state.steps.members
            button.btn.btn-success(style="margin-top: 50%;")
              i.fa.fa-4x.fa-check
          else
            button.btn.btn-danger(style="margin-top: 50%;" disabled=(!enoughChaperones || !membersComplete))
              i.fa.fa-4x.fa-remove
      .col-xs-10
        h2.featurette-heading Group Members
        p If your group contains Youth (14-18 yrs), you must have at least one registered chaperone per five.
        .row
          if enoughChaperones
            .label.label-success
              i.fa.fa-check
            |  You have enough chaperones to support your youth.
          else
            label.label-danger
              i.fa.fa-remove
            |  You do not have enough chaperones to support your youth.
          br
          if membersComplete
            .label.label-success
              i.fa.fa-check
            |  All your group members have their required information complete.
          else
            .label.label-danger
              i.fa.fa-remove
            |  Some of your members are missing information.
        table.table.table-responsive.table-condensed.table-hover
          thead
            tr
              th Done
              th Name
              th Type
              th Workshops
              th Ticket Type
              th
                | Actions
                br
                small.text-muted Allow Removes?
                button#allowRemove.btn.btn-xs.btn-link
                  .fa.fa-times-circle
          tbody
            for member in members
              tr(class=(member._state.complete ? 'success' : 'danger'))
                td
                  if member._state.complete
                    i.fa.fa-check
                  else
                    i.fa.fa-remove
                td= member.name
                td= member.type
                td= member._workshops.length
                td= member._state.ticketType
                td
                  a.btn.btn-block.btn-xs.btn-default(href="/member/#{member._id}")
                    i.fa.fa-edit
                    |  Edit
                  form(action="/member/#{member._id}" method="POST")
                    input(name="_method" value="DELETE", style="display: none")
                    button.btn.btn-xs.btn-block.btn-danger.removeButton(disabled)
                      i.fa.fa-remove
                      |  Remove
        a.btn.btn-block.btn-primary(href="/member")
          i.fa.fa-plus
          |  Add Member
    hr.featurette-divider

    #documents.row.featurette
      .col-xs-2
        if session.group._state.steps.documents
            button.btn.btn-success(style="margin-top: 50%;")
              i.fa.fa-4x.fa-check
          else
            button.btn.btn-danger(style="margin-top: 50%;")
              i.fa.fa-4x.fa-remove
      .col-xs-8
        h2.featurette-heading Useful Documents
        p Please take a look at these documents and forms. When you're done, check it off!


    hr.featurette-divider


    #payments.row.featurette
      .col-xs-2
        if session.group._state.steps.payments
            button.btn.btn-success(style="margin-top: 50%;")
              i.fa.fa-4x.fa-check
          else
            button.btn.btn-danger(style="margin-top: 50%;")
              i.fa.fa-4x.fa-remove
      .col-xs-10
        h2.featurette-heading Payments
        p Payments can be made to... via...
        p Cost: $#{cost}
        p Paid: $#{paid}
        p.lead Balance: $#{cost - paid}
        table.table.table-responsive.table-condensed.table-hover
          thead
            tr
              th Amount
              th Method
              th Date
              th Comment
          tbody
            for payment in payments
              tr
                td= payment.amount
                td= payment.type
                td #{payment.date.day} #{payment.date.month} #{payment.date.year}
                td= payment.description
        a.btn.btn-block.btn-primary(href="/payments")
          i.fa.fa-credit-card
          |  Make a Payment
    hr.featurette-divider

    #workshops.row.featurette
      .col-xs-2
        if session.group._state.steps.workshops
            button.btn.btn-success(style="margin-top: 50%;")
              i.fa.fa-4x.fa-check
          else
            button.btn.btn-danger(style="margin-top: 50%;")
              i.fa.fa-4x.fa-remove
      .col-xs-10
        h2.featurette-heading Workshops
        p Hold tight... We're just as excited as you about workshops, but we haven't finished up our schedule, or our redesign of the process! Check back mid February.
        a.btn.btn-block.btn-primary
          i.fa.fa-arrow-right
          |  View Workshops
    hr.featurette-divider

    if session.isAdmin
      #checkin.row.featurette
        .col-xs-2
          if session.group._state.steps.checkin
              button.btn.btn-success(style="margin-top: 50%;")
                i.fa.fa-4x.fa-check
            else
              button.btn.btn-danger(style="margin-top: 50%;")
                i.fa.fa-4x.fa-remove
        .col-xs-10
          h2.featurette-heading Check In (Admins only)
          p Check a group into the conference.
      hr.featurette-divider

    script.
      $(function () {
        // Enable or disable removing members for safety.
        $('#allowRemove').click(function() {
          var state = $('.removeButton').attr('disabled');
          $('.removeButton').attr('disabled', !state);
        });
        // Checkboxes
        $('.row.featurette > .col-xs-2 > button').click(function() {
          var button = $(this),
              clicked = $(this).closest('.row.featurette').attr('id'),
              id = '!{session.group._id}';
          $.get('/checkoff/' + id + '/' + clicked).done(function (data) {
            console.log(data === true)
            if (data === true) {
              button.removeClass('btn-danger');
              button.addClass('btn-success');
              var icon = button.find('.fa');
              icon.removeClass('fa-remove');
              icon.addClass('fa-check');
            } else {
              button.removeClass('btn-success');
              button.addClass('btn-danger');
              var icon = button.find('.fa');
              icon.removeClass('fa-check');
              icon.addClass('fa-remove');
            }
          });
        })
      })
