extends templates/layout

block content
    .container
        .row
            .btn-group.pull-right
                a.btn.btn-success(href="/statistics")
                    .fa.fa-bar-chart-o
                    | View Statistics
                a.pull-right.btn.btn-warning(href="/emails")
                    .fa.fa-mail-reply-all
                    | Get Email Addresses
                a.btn.btn-info(href="/facilitators")
                    | Facilitator Spreadsheet
        .row
            #listing.table-responsive
                p.text-muted You can sort results by clicking on the header you wish to sort by...
                input.form-control.search(placeholder="Search...")
                p Total # of Groups: #{groups.length}
                table.table.table-striped
                    thead
                        tr
                            //- Registration Steps
                            th Steps
                            th.sort(data-sort="members") Mems
                            th.sort(data-sort="affiliation") Affiliation
                            th.sort(data-sort="phone") Phone
                            th.sort(data-sort="tags") Tags
                            th Actions
                            th
                    tbody.list
                        for group in groups
                            tr
                                td
                                    - var steps = ['conduct', 'details', 'youthInCare', 'members', 'documents', 'payments', 'workshops', 'checkin']
                                    for step in steps
                                        if group._state.steps[step]
                                            button.steps.btn.btn-xs.btn-success.tooltipped(data-toggle="tooltip" title="#{step}" data-url="/checkoff/#{group._id}/#{step}")
                                                .fa.fa-check
                                        else
                                            button.steps.btn.btn-xs.btn-danger.tooltipped(data-toggle="tooltip" title="#{step}" data-url="/checkoff/#{group._id}/#{step}")
                                                .fa.fa-remove
                                    if group.youthInCare > 0 || group.youthInCareSupport > 0
                                        .label.label-success.tooltipped(data-toggle="tooltip", title="This group has Youth In Care!")
                                            .fa.fa-flag
                                            |    #{group.youthInCare} + #{group.youthInCareSupport}
                                td
                                    .label.label-default.members
                                        | #{group._members.length}
                                td.affiliation #{group.affiliation}
                                    .text-muted.name #{group.name}
                                td.phone= group.phone
                                td.tags
                                    for tag in group._state.tags
                                        span.label.label-default= tag
                                        = ' '
                                td
                                    .btn-group
                                        a.btn.btn-sm.btn-info(href="/notes/#{group._id}")
                                            .fa.fa-file
                                            |    Notes
                                        a.btn.btn-sm.btn-primary(href="/manage/#{group._id}")
                                            .fa.fa-edit
                                            |    Manage
                ul.pagination
        script.
            $(function() {
                // Make tooltips work.
                $('.tooltipped').tooltip();
                // Make set buttons work.
                $('.steps').click(function () {
                    var button = $(this);
                    button.attr('disabled', true);
                    $.getJSON(button.data('url')).done(function (data) {
                        if (data.error) {
                            alert('Unable to mark! Group does not meet prerequisites.');
                        } else if (data.done === true) {
                            button.removeClass('btn-danger');
                            button.addClass('btn-success');
                            var icon = button.find('.fa');
                            icon.removeClass('fa-remove');
                            icon.addClass('fa-check');
                        } else if (data.done === false) {
                            button.removeClass('btn-success');
                            button.addClass('btn-danger');
                            var icon = button.find('.fa');
                            icon.removeClass('fa-check');
                            icon.addClass('fa-remove');
                        }
                        button.removeAttr('disabled');
                    });
                });
                // List-ify
                var options = {
                    plugins: [ ListFuzzySearch(), ListPagination({
                        innerWindow: 2,
                        outerWindow: 1
                    }) ],
                    valueNames: [ 'affiliation', 'name', 'phone', 'members', 'tags' ],
                    page: 20
                };
                var userList = new List('listing', options);
            });
