extends templates/layout

block content
    .row
        .col-sm-12(style="overflow: scroll; white-space: nowrap;")
            table.table.table-striped
                thead
                    tr
                        th Submission Date
                        th Facilitator Name
                        th Affiliation
                        th Phone
                        th Fax
                        th Email
                        th Mailing
                        th Workshop Name
                        th Length
                        th Category
                        th Audience
                        th Type
                        th Equipment
                        th Room
                        th Capacity
                        th Compensation
                        th Category Reason
                        th Description
                        th Summary
                        th Interaction Level
                        th Biography
                        th Notes

                tbody
                    for facilitator in facilitators
                        tr
                            td= facilitator.submissionDate
                            td= facilitator.name
                            td= facilitator.affiliation
                            td= facilitator.phone
                            td= facilitator.fax
                            td= facilitator.email
                            td= facilitator.mailing
                            td= facilitator.workshop
                            td= facilitator.length
                            td
                                .badge= facilitator.category
                            td
                                for type in facilitator.audience
                                    .badge= type
                                    br
                            td
                                for type in facilitator.type
                                    .badge= type
                                    br
                            td
                                if facilitator.equipment.flipchart
                                    .badge Flipcharts: #{facilitator.equipment.flipchart}
                                    br
                                if facilitator.equipment.projector
                                    .badge Projector
                                    br
                                if facilitator.equipment.screen
                                    .badge Screen
                                    br
                                if facilitator.equipment.player
                                    .badge Player
                                    br
                            td= facilitator.roomRequirement
                            td= facilitator.capacity
                            td
                                if facilitator.compensation.meal
                                    .badge Meals (per diem)
                                    br
                                if facilitator.compensation.accommodation
                                    .badge Accommodation
                                    br
                                if facilitator.compensation.travel
                                    .badge Travel: #{facilitator.compensation.travel}
                                    br
                                if facilitator.compensation.honorarium
                                    .badge Honorarium: #{facilitator.compensation.honorarium}
                                    br
                            td= facilitator.categoryReason
                            td= facilitator.description
                            td= facilitator.summary
                            td= facilitator.interactionLevel
                            td= facilitator.biography
                            td= facilitator.notes
