extends templates/layout

block content
    .container.marketing
        if session.isAdmin
            .row
                .col-sm-8.col-sm-offset-2
                    a.btn.btn-primary(href='#new')
                        i.fa.fa-plus
                        |    Add
                    script.
                        $('a[href="#new"]').click(function () {
                            if ($('#add').is(':visible')) {
                                $('#add').hide('fast');
                            } else {
                                $('#add').show('fast');
                            }
                        });
                    #add.well(style="display: none;")
                        form(action="/news", method="POST", enctype="multipart/form-data")
                            .form-group
                                label Title*
                                input.form-control(type="text", name="title", placeholder="Bears are the best critters!", required)
                            .form-group
                                label Date*
                                input.form-control(type="date", name="date", placeholder="Wed Jan 20, 2015", required)
                            .form-group
                                label Author*
                                input.form-control(type="text", name="author", placeholder="Andrew", required)
                            .form-group
                                label Content*
                                textarea.form-control(name="content", required)
                            .form-group
                                label Image*
                                input(type="file", accept=".jpg", name="image" required)
                            .form-group
                                input.btn.btn-primary(type="submit" value="Add News")
                    hr.featurette-divider
        for item in news
            .row.featurette
                .col-sm-5
                    img.img-rounded.lazy(src="/news/#{item._id}/img", style="max-width: 100%")
                .col-sm-7
                    h2.featurette-heading= item.title
                    p.lead.text-muted Posted by #{item.author}, on #{item.date.toDateString()}
                    div
                        | !{item.content}
                    p.muted
                        a(href="/news/#{item._id}") Permalink
                    if session.isAdmin
                        br
                        a.btn.btn-xs.btn-danger.pull-right(href="/news/del/#{item._id}") Delete
            hr.featurette-divider
        .row.text-center
            .btn-group.btn-block
                a.btn.btn-default(style="width: 50%" href="/news?skip=#{skip - 5}") 
                    i.fa.fa-backward
                    |  Newer
                a.btn.btn-default(style="width: 50%" href="/news?skip=#{skip + 5}") 
                    i.fa.fa-forward
                    |  Older
