extends templates/layout

block content
    .container
        .row(style="text-align: center")
            a.btn.btn-small.btn-primary(href="/workshops") 
                .fa.fa-backward
                |  Back to workshop listing
    .container
        .row
            .col-sm-5
                h2= workshop.name
                p.lead Hosted by #{workshop.host}
                p Category: #{workshop.category}
                p Tags: 
                    for tag in workshop.tags
                        span.label.label-default= tag
                        |    
                span Allows: 
                    if workshop.allows.indexOf("Youth") != -1
                        .label.label-info(data-toggle="tooltip" title="Youth") Y
                        |    
                    if workshop.allows.indexOf("Young Adult") != -1
                        .label.label-success(data-toggle="tooltip" title="Young Adult") YA
                        |    
                    if workshop.allows.indexOf("Young Chaperone") != -1
                        .label.label-warning(data-toggle="tooltip" title="Young Chaperone") YC
                        |    
                    if workshop.allows.indexOf("Chaperone") != -1
                        .label.label-danger(data-toggle="tooltip" title="Chaperone") Ch
                        |    
                br
                br
                for paragraph in workshop.description.split("\n")
                    p= paragraph
            .col-sm-5.col-sm-offset-1
                if session.group
                    div
                        .pull-right
                            a.btn.btn-xs.btn-danger#allowRemovals
                                .fa.fa-minus
                                |  Allow Removals
                h2 Sessions
                #sessions
                    ul.list-group
                        for workshopSession in workshop._sessions
                            li.list-group-item(data-session="#{session._id}")
                                if session.isAdmin
                                    code Remove Session:
                                    a.btn.btn-xs.btn-danger.tooltipped.sessionDel(disabled data-toggle="tooltip" title="Remove Session")
                                        .fa.fa-minus
                                .description
                                    strong Start:
                                    |  #{workshopSession.start.toLocaleString()}
                                    br
                                    strong End:
                                    |  #{workshopSession.end.toLocaleString()}
                                    br
                                    strong Location:
                                    |  #{workshopSession.room} <strong>at</strong> #{workshopSession.venue}
                                    br
                                    strong Attendees:
                                    |  #{workshopSession._registered.length}/#{workshopSession.capacity}
                                    br
                                
                                strong Add Member:
                                br
                                button.btn.btn-xs.btn-success.memberAdd(data-toggle="tooltip" title="Add Member")
                                    .fa.fa-plus
                                |  
                                select.memberSelect
                                    option Please choose...
                                    for member in members
                                        if member._workshops.indexOf(workshopSession._id) != -1
                                            //- Do nothing.
                                        else if workshop.allows.indexOf(member.type) == -1
                                            option(disabled) #{member.name} (Wrong type!)
                                        else if member._state.complete === false
                                            option(disabled) #{member.name} (Not complete!)
                                        else
                                            option(value='#{member._id}')= member.name
                                br
                                .memberMessage
                                br
                                for member in members
                                    if member._workshops.indexOf(workshopSession._id) != -1
                                        a.btn.btn-xs.btn-danger.memberDel(disabled data-member="#{member._id}" data-toggle="tooltip" title="Remove Member")
                                            .fa.fa-minus
                                        span  #{member.name}
                                        br
        hr.featurette-divider
        if session.isAdmin
            .row
                .col-sm-12
                    .btn-group
                        a.btn.btn-primary#createSession
                            span.fa.fa-plus
                            |  Add Session
                        a.btn.btn-info#editWorkshop(href="/workshop/modify/#{workshop._id}")
                            span.fa.fa-edit
                            |  Edit Workshop
                    form#add(style="display: none" method="POST" action="/workshop/#{workshop._id}/session")
                        fieldset#sessions
                            legend Sessions
                            .alert.alert-warning
                                p Note: Sunday March 8th, 2015 is when Daylight Savings Time comes into effect. Thus your workshops should all be in 'PDT' time.
                                p It is now <code id='theTime'></code>
                                p Sample inputs for a "Time" field is <code>March 20, 2015 8:00 PDT</code> and <code>9 February 2015, 9:00 PDT</code>. If you do not specify 'PDT' things may go haywire.
                            script.
                                $(function () {
                                    function now() {
                                    $('#theTime').text(new Date());
                                        setTimeout(now, 2000);
                                    }
                                    now();
                                });
                            .form-group
                                label Start Time
                                input.time.form-control(type="text" required name="start" placeholder="Please specify the start of the session.")
                                p The Start Time is:
                                    code.timeSelected
                            .form-group
                                label End Time
                                input.time.form-control(type="text" required name="end" placeholder="Please specify the end of the session.")
                                p The End Time is:
                                    code.timeSelected
                            .form-group
                                label Room
                                input.form-control(type="text" required name="room" placeholder="Please specifiy the room of the session.")
                            .form-group
                                label Venue
                                input.form-control(type="text" required name="venue" placeholder="Please specifiy the venue of the session.")
                            .form-group
                                label Capacity
                                input.form-control(type="number" required name="capacity" placeholder="Please specify the capacity of the session (must be numeric)")
                            .form-group
                                label 
                                input.form-control.btn.btn-primary(type="submit" value="Create Session")
                    hr.featurette-divider
                    script.
                        $(function () {
                            // Date hinting.
                            function refreshDate() {
                                var date = new Date($(this).val());
                                $(this).siblings('p').find('.timeSelected').text(date);
                            }
                            $('.time').bind('keydown blur', refreshDate);
                            $('.time').each(refreshDate);
                        });
            script.
                $(function () {
                    $('#createSession').click(function () {
                        if ($('#add').is(':visible')) {
                            $('#add').hide('fast');
                        } else {
                            $('#add').show('fast');
                        }
                    });
                });
        
        script.
            $(function () {
                $('.label, .memberAdd, .memberDel, .tooltipped').tooltip();
                $('.memberAdd').click(function () {
                    var self = this;
                    var session = $(this).parent().data('session'),
                        member = $(this).parent().find('.memberSelect').val();
                    $.get('/member/add/' + member + '/' + session, function (data) {
                        if (data.success) {
                            window.location.search = "message=" + data.message
                        } else {
                            if (data.workshop) {
                                $(self).siblings('.memberMessage').html("<div class='alert alert-danger'>" + data.message + " <a href='" + data.workshop + "'>View conflicting workshop.</a></div>");
                            } else {
                                $(self).siblings('.memberMessage').html("<div class='alert alert-danger'>" + data.message + "</div>");
                            }
                        }
                        
                    });
                });
                $('.memberDel').click(function () {
                    var session = $(this).parent().data('session'),
                        member = $(this).data('member');
                    $.get('/member/del/' + member + '/' + session, function (data) {
                        window.location.search = "message=" + data.message
                    });
                });
                $('#allowRemovals').click(function () {
                    var state = $('.memberDel').attr('disabled');
                    if (state === 'disabled') {
                        $('.memberDel, .sessionDel').attr('disabled', false);
                    } else {
                        $('.memberDel, .sessionDel').attr('disabled', true);
                    }
                });
            });
