// Bootstrap
link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css", rel="stylesheet")
link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css", rel="stylesheet")

.container
  form
    fieldset
      legend= member.name

      if member._workshops.length > 0
        table.table.table-striped
          thead
            tr
              th Session
              th Time
              th Name
              th Venue
              th Room
              th
          tbody
            for workshop in member._workshops.sort(function(a, b){ if (a.session < b.session) { return -1 } else { return 1 } })
              tr
                td
                  .label.label-success= workshop.session
                td
                  case workshop.session
                    when 0
                      | Wed, March 19, 7:00 am till 8:00 am
                    when 1
                      | Wed, March 19, 9:00 am till noon
                    when 2
                      | Wed, March 19, 9:00 am till 10:30 am
                    when 3
                      | Wed, March 19, 11:00 am till 12:30 pm
                    when 4
                      | Wed, March 19, 1:30 pm till 4:30 pm
                    when 5
                      | Wed, March 19, 1:30 pm till 3:00 pm
                    when 6
                      | Wed, March 19, 3:30 pm till 5:00 pm
                    when 7
                      | Thurs, March 20, 9:00 am till noon
                    when 8
                      | Thurs, March 20, 9:00 am till 10:30 am
                    when 9
                      | Thurs, March 20, 11:00 am till 12:30 pm
                    when 10
                      | Thurs, March 20, 1:30 pm till 4:30 pm
                    when 11
                      | Thurs, March 20, 1:30 pm till 3:00 pm
                    when 12
                      | Thurs, March 20, 3:30 pm till 5:00 pm
                    when 13
                      | Thurs, March 20, 7:00 am till 8:00 am
                td= workshop._id.name
                td= workshop._id.session(workshop.session).venue
                td= workshop._id.session(workshop.session).room
                td
                  a.btn.btn-xs.btn-success(href="/workshop/#{workshop._id._id}")
                    .fa.fa-play
                    |  View
                  //- if session.isAdmin
                  //-   a.btn.btn-xs.btn-danger(href="/member/#{member._id}/del/#{workshop._id._id}/#{workshop.session}") Remove (In case of bug)

      else
        p #{member.name} is not a member of any workshops.
        br
        a(href="/workshops") Add some?
